<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <link rel="manifest" href="%PUBLIC_URL%/manifest.json">
    <link rel="stylesheet" href="./Preload.css">
    <title>Console Box AWS</title>
  </head>
  <body style="background-color: #23303D; margin:0!important;">
    <div class="container preload" >
      <img src="./cbaws-icono.svg" class="rotate-scale-down-diag-2 App-logo" alt="logo" />
    </div>
  </body>
</html>
